<!DOCTYPE html>
<html lang="en">
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Netflix Recommendation System</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
	</head>
	<body>
		<div>
			<h1><mark>Netflix Recommendation System</mark></h1>
			<form name="passdata" action="/about" method="post">
				<input id="text" type="text" name="moviename" placeholder="ENTER A TV-SHOW/MOVIE NAME THAT YOU JUST WATCHED">
				<input type="submit" value="submit">
			</form>
		</div>
	</body>
	</html>
	